@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "RamettoOne";
    src: url("./assets/fonts/RammettoOne.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }